.formulario {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.input{
    height: 3.75rem;
    width: 18.75rem;
    border-radius: 0.313rem;
    box-sizing: border-box;
}

.input__container{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 18.75rem;
}

.input:focus {
    outline: none;
}

.botao:hover{
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}

.formulario__legenda{
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

fieldset{
    border-style: none;
}

.input__mensagem__erro{
    display: none;
}

.input__container__invalido .input__mensagem__erro{
    display: block;
    color: #df2525;
}

.input__container__invalido .input {
    border: 3px solid #df2525
}

.input__label{
    display: none;
}

.input__titulo{
    color: #ffffff;
    font-size: 1rem;
}